<!-- app/views/events/show.html.erb -->

<h1><%= @event.title %></h1>
<p><%= @event.about %></p>

<% if @event.attendees.include?(current_user) %>
  <%= button_to 'Revock Attendance', event_attendee_event_path(@event, @event.attendee_events.find_by(attendee: current_user)), method: :delete %>
<% else %>
  <%= button_to 'Attend', event_attendee_events_path(@event), method: :post %>
<% end %>

<h2>Attendees</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>

<%= link_to 'Back to Events', events_path %>


<h3>Past Events</h3>
<ul>
  <% current_user.attended_events.where('event_date < ?', Time.now).each do |event| %>
    <li><%= event.title %> - <%= event.event_date.strftime("%B %d, %Y") %></li>
  <% end %>
</ul>

<h3>Upcoming Events</h3>
<ul>
  <% current_user.attended_events.where('event_date >= ?', Time.now).each do |event| %>
    <li><%= event.title %> - <%= event.event_date.strftime("%B %d, %Y") %></li>
  <% end %>
</ul>