<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
    <nav>

      <% if user_signed_in? %>
        <ul>
          <li>
            <%= link_to "Events", events_path %>
          </li>
          <li>
            <p>Hello, <%=current_user.username%> </p>
          </li>
          <li>
            <%= link_to "Create Event", new_event_path %>
          </li>
          
          <li>
            <%= button_to "sign out", destroy_user_session_path, method: "delete" %>
          </li>
        </ul>
      
      <% else %>
        <ul>

          <li>
            <%= link_to "Events", events_path %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path %>
          </li>

          <li>
            <%= link_to "sign in", new_user_session_path %>
          </li>
        </ul>

      <% end %>




    </nav>
=======

    <ul?
        
        <li></li>
        <%# <li><%= button_to 'Sign Out', event_attendee_event_path(@event, @event.attendee_events.find_by(attendee: current_user)), method: :delete </li> %>
        <li><%= link_to 'Back to Events', events_path %></li>
        <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      
        <li></li>
        <li></li>
        <li></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      </ul>
      
>>>>>>> 9582f07aed8dc2807600b920c535095b074561af
    
    <%= notice %>
    <%= alert %>
    <%= yield %>

  </body>
</html>
