<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav>
      <div class="container">
        <% if user_signed_in? %>
          <ul class="flex">
            <li>
              <%= link_to "Events", events_path %>
            </li>
            <li>
              <p>Hello, <%=current_user.username%> </p>
            </li>
            <li>
              <%= link_to "Create Event", new_event_path %>
            </li>
        
            <li>
              <%= button_to "sign out", destroy_user_session_path, method: "delete" %>
            </li>
          </ul>
        
        <% else %>
          <ul class="flex flex_end">
            <li>
              <%= link_to "Events", events_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "sign in", new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>




    </nav>
    
    <%= notice %>
    <%= alert %>
    <div class="container"><%= yield %></div>

  </body>
</html>
