<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <ul?
        
        <li></li>
        <%# <li><%= button_to 'Sign Out', event_attendee_event_path(@event, @event.attendee_events.find_by(attendee: current_user)), method: :delete </li> %>
        <li><%= link_to 'Back to Events', events_path %></li>
        <li><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      
        <li></li>
        <li></li>
        <li></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      </ul>
      
    
    <%= notice %>
    <%= alert %>
    <%= yield %>

  </body>
</html>
